<section fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxFlex="700px" fxFlex.xs="100%" 
      fxLayoutAlign="start stretch">
      <mat-card-title>Inmuebles 82</mat-card-title>
      <mat-card-subtitle>Email</mat-card-subtitle> 

      <mat-card-content fxLayout="column">
        <h1> Un correo electronico fue enviado a su direccion de correo, favor de validar el correo registrado.</h1>  
      </mat-card-content>

      <mat-card-actions fxLayout="column">        
        <button mat-raised-button color="primary"  (click)="onResend()">Enviar Correo Nuevamente</button>
      </mat-card-actions>

    </mat-card>  
</section>   