<div class="mat-elevation-z8" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="buttonContainer" fxFlex=90%>
      <button mat-raised-button color="primary"   routerLink="/add-property">Nuevo Inmueble   </button>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxFlex="100%">
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <table mat-table [dataSource]="dataSource"  fxFlex="90%">
      <ng-container matColumnDef="id_tipo_propiedad">
        <th mat-header-cell *matHeaderCellDef> Tipo de Propiedad </th>
        <td mat-cell *matCellDef="let element"> {{ getTextTipoPropiedad(element.id_tipo_propiedad) }}</td>
      </ng-container>

      <ng-container matColumnDef="id_tipo_negocio">
        <th mat-header-cell *matHeaderCellDef> Tipo de Negocio </th>
        <td mat-cell *matCellDef="let element"> {{ getTextTipoNegocio(element.id_tipo_negocio) }}</td>
      </ng-container>

      <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
      </ng-container>

      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
  
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <!-- <td mat-cell *matCellDef="let element"> {{getCurrency(element.precio)}} </td> -->
        <td mat-cell *matCellDef="let element">{{element.precio | customCurrency:'MXN'}} </td>
        
      </ng-container>

      <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="redirectToUpdate(element.prop_id)">
                <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="redirectToDelete(element.prop_id)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[2, 4, 6, 10, 20]" [showFirstLastButtons]="true" fxFlex="90%"></mat-paginator>
  
  </div>
  